# Docker configuration
# Set to "true" to use Docker for building and flashing
USE_DOCKER=false

# ESP-IDF version to use in Docker container
ESP_IDF_VERSION=v5.5.1

# USB serial port for flashing and monitoring
# Common values: /dev/ttyUSB0, /dev/ttyUSB1, /dev/ttyACM0
USB_SERIAL_PORT=/dev/ttyUSB0

# Additional device arguments for Docker (optional)
# Example: --device=/dev/ttyUSB0
DEVICE_ARGS=

# Baud rate for flashing and monitoring
BAUD_RATE=230400
#460800
#115200


# WiFi configuration (for gen_wifi_config task)
# SSID=your_wifi_ssid
# PASSWORD=your_wifi_password
# UNIQUE_ID=your_device_unique_id
# AUTO_CONNECT=true
# RETRY_IF_FAILED=true
# WATCHDOG=false
# COUNTRY_CODE=JP
