[submodule "components/picoruby-esp32"]
	path = components/picoruby-esp32
	url = https://github.com/picoruby/picoruby-esp32.git
[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/m5unified"]
	path = components/m5unified
	url = https://github.com/m5stack/M5Unified.git
[submodule "components/m5gfx"]
	path = components/m5gfx
	url = https://github.com/m5stack/M5GFX.git
